---
- name: Install latest Vim
  ansible.builtin.package:
    name:
      - vim
      - git
    state: latest
  when: ansible_distribution != "MacOSX"

- name: Install required brew packages
  community.general.homebrew:
    name:
      - vim
      - git
    state: latest
    update_homebrew: true
  become: false
  when: ansible_distribution == "MacOSX"

- name: Include setup tasks
  ansible.builtin.include_tasks:
    file: setup.yml
  loop: "{{ vim_users }}"
  loop_control:
    loop_var: outer_item
