name: Bump version
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: x64
    steps:
      - uses: actions/checkout@v2
      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          default_bump: "patch"
          release_branches: "master"
          tag_prefix: ""

      - name: Release Ansible Role to Galaxy
        uses: hspaans/ansible-galaxy-action@v1.0.2
        with:
          api_key: ${{ secrets.GALAXY_TOKEN }}
